.square {
    background: rgb(163, 33, 33);
    border: 1px solid #999;
    float: left;
    font-size: 60px;
    font-weight: bold;
    line-height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    height: 80px;
    width: 80px;
  }
  .square:focus {
  outline:auto;
  }
  .kbd-navigation .square:focus {
  background: #ddd;
  }
  