// @import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";

html,
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 10px;
  padding: 10px;
  height: 98%;
  background-color: aqua;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
font-size: 10vw;
text-align: center;
font-family:'Courier New', Courier, monospace;
}
@media only screen and (max-width: 600px) {
  h1 {
    color: red;
  }
  .d2 {
    margin-top: 20vw;
  }
}
ol, ul {
padding-left: 30px;
}
label {
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}
input {
  margin-left: 10%;
  margin-bottom: 5%;
  align-items: center;
  background: #000;
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
.d1,.d3{
  display: flex;
};
.save-button{
  size-adjust: 50px;
  color: greenyellow;
  background: black;
  border-radius: 10px;
  border: 2px solid darkblue;
  margin: 1% 10%;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
margin-bottom: 10px;
}
.square {
  background: rgb(163, 33, 33);
  border: 1px solid #999;
  float: left;
  font-size: 44px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 56px;
  width: 56px;
}
.square:focus {
outline:auto;
}
.kbd-navigation .square:focus {
background: #ddd;
}
.game {
display: flex;
flex-direction: row;
}
.game-info {
margin-left: 20px;
}
.game-over {
margin-top: 120px;
margin-left:-25%;
}
.button {
  background-color: #afa54cc9;
  border: 1px solid darkblue;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25;
}
.homepage{
  margin: 1%;
  padding: 1%;
}
.start-button{
  background:blueviolet;
  border-radius: 10px;
  border: 2px solid black;
  color: white;
  // padding: 2%;
  text-align: center;
  display: block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 25%; 
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  height: 30px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.games-won{
  width: 40%;
  height: 15%;
  background: gold;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 2px solid darkblue;
  border-radius: 15px;
  margin: auto;
  padding: 10%;
}
.bg{
  background-color:#000;
}
.margin-top-6{
  margin-top: 6%;
}
.custom-modal{
  border: 2px solid red;
  border-radius: 5px;
  margin-top: 40%;
  margin-left: 13%;
  width: 75%; 
}
form, .modal-body{
  background-color: chartreuse;
}
.custom-input{
  width: 90%;
  border: 2px dashed darkblue;
}