.board{
  border: 2px solid red;
  display: table;
  margin: 0 auto;
  margin-top: 5%;
  padding: 0.5%;
//   background: linear-gradient(145deg, #ff0000, #e60000);
//   box-shadow:  5px 5px 0px #660000,
//              -5px -5px 0px #ff0000;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
  