form, .modal-body {
    background-color: white;
}
.custom-game-modal{
    border: 5px solid red;
    border-radius: 5px;
    margin: 15.5rem auto;
    width: 75%;
}
.custom-modal-footer{
    justify-content: space-evenly;
    padding: 0px;
    padding-bottom: 1.5rem;
}
.game-board {
    display: block;
    margin-top: 1rem;
}   
.games-won{
    font-size: 28px;
    height: 100%;
    min-width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.min-w{
    min-width: 100px;
}
.player0{
    display: flex;
    float: left;
}
.player1{
    display: flex;
    float: right;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.status{
    font-size: 24px;
    display: table;
    margin: 0 auto;
}
.status2{
    font-size: 20px;
    font-weight: 800;
    display: table;
    margin: 0 auto;
    color: darkred;
}