form, .modal-body {
    background-color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10rem;
    margin-inline-start: 8rem;
}
.custom-game-modal{
    border: 5px solid red;
    border-radius: 5px;
    margin: 15.5rem auto;
    width: 75%;
}
.custom-modal-footer{
    justify-content: space-evenly;
    padding: 0px;
    padding-bottom: 1.5rem;
}
.game-board {
    display: block;
    margin-top: 1rem;
}  
.game-button{
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 10rem;
    height: 2.5rem;
    background: linear-gradient(145deg, #7b4a4a, #683e3e);
    box-shadow:  3px 3px 0px #2e1c1c,
                -3px -3px 0px #b86e6e;
  } 
.games-won{
    font-size: 28px;
    height: 100%;
    min-width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.min-w{
    min-width: 100px;
}
// .neumorphism-div{
//     display: block;
//     align-content: center;
//     margin-top: 0.5rem;
//     margin-bottom: 0.5rem;
//     background: linear-gradient(
//         145deg,
//         rgba(100, 100, 105, 0.15) 15%,
//         rgba(33, 33, 33, 0.4) 80%
//       );
//       box-shadow: -4px -3px 2px 0 rgba(250, 250, 250, 0.13),
//         4px 4px 2px 0 rgba(0, 0, 0, 0.4);
// }
.player0{
    display: flex;
    float: left;
}
.player1{
    display: flex;
    float: right;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.status{
    font-size: 24px;
    display: table;
    margin: 0 auto;
}
.status2{
    font-size: 20px;
    font-weight: 800;
    display: table;
    margin: 0 auto;
    color: darkred;
}

@media only screen and (max-width: 991px) {
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-block: 1rem;
        margin-inline-start: 0rem;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 600px) {
    .neumorphism-div{
        display: block;
        align-content: center;
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;
        padding: 1.75rem;
        // background: linear-gradient(
        //     145deg,
        //     rgba(100, 100, 105, 0.15) 15%,
        //     rgba(33, 33, 33, 0.4) 80%
        // );
        box-shadow: -4px -3px 2px 0 rgba(250, 250, 250, 0.13),
            4px 4px 2px 0 rgba(0, 0, 0, 0.4);
    }
    .game-button{
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        width: 10rem;
        height: 3rem;
        background: linear-gradient(145deg, #7b4a4a, #683e3e);
        box-shadow:  3px 3px 0px #2e1c1c,
                     -3px -3px 0px #b86e6e;
    }
    .buttons {
        padding: 1rem;
        margin-block: -1rem;
    }
}