
form, .modal-body{
  background-color: lightslategray;
}
.custom-modal{
  border: 5px solid red;
  border-radius: 5px;
  margin: 15.5rem auto;
  width: 75%;
}
.custom-input{
  margin-bottom: 10px;
}
.d1,.d3{
  display: flex;
}
.homepage{
  margin: 1%;
  padding: 1%;
}
.home-button{
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 25%; 
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  height: 50px;
  background: linear-gradient(145deg, #7b4a4a, #683e3e);
  box-shadow:  5px 5px 0px #2e1c1c,
               -5px -5px 0px #b86e6e;
}

@media only screen and (max-width: 600px) {
  h1 {
    color: #ff073a;
    margin-top: 12vw !important;
    margin-bottom: 12vw;
    text-shadow: 2px 2px 0px #2e1c1c, -2px -2px 0px #b86e6e;
  }
  .d2 {
    margin-top: 20vw;
  }
}