@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";

html,
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 99%;
  background-color: #2b2d2f;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
  color: #ff073a;
  font-size: 11vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 1vw !important;
  text-shadow: 5px 5px 0px #2e1c1c, -5px -5px 0px #b86e6e;
  font-family:'Courier New', Courier, monospace;
  // background: linear-gradient(145deg, #7b4a4a, #683e3e);
    box-shadow: 5px 5px 0px #2e1c1c, -5px -5px 0px #2e1c1c;
}
.level {
  color: aqua;
  // font-size: 12px;
  // font-weight: bolder;
  text-align: center;
  margin-top: -2px !important;
  // text-shadow: 5px 5px 0px #2e1c1c, -5px -5px 0px #b86e6e;
  font-family:'Courier New', Courier, monospace;
  // background: linear-gradient(145deg, #7b4a4a, #683e3e);
  box-shadow: 5px 5px 0px #2e1c1c, -5px -5px 0px #2e1c1c;
}

@media only screen and (max-width: 600px) {
  html.body{
    overflow-y: scroll;
  }
}
