@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/scss/bootstrap";

html,
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 99%;
  background-color: aqua;
  overflow-x: hidden;
  overflow-y: hidden;
}
h1 {
font-size: 13vw;
font-weight: bolder;
text-align: center;
font-family:'Courier New', Courier, monospace;
}